Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  env:
    PATH: "/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin"
  commands:
    oxlint:
      glob: "*.{ts,tsx,js,jsx}"
      run: /opt/homebrew/bin/bunx oxlint {staged_files} --fix
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,css,md}"
      run: /opt/homebrew/bin/bun run format
    type-check:
      run: /opt/homebrew/bin/bun run type-check

fix(content): align owners-app case study with LINE reframe narrative
  src/content/case-studies/owners-app-proposal.md
Due: prettier

fix(content): tighten owners-app case study narrative
  src/content/case-studies/owners-app-proposal.md
Due: prettier

feat(content): add scrum-master case study and remove placeholders
  docs/superpowers/specs/2026-04-13-scrum-master-case-study-design.md
  src/assets/case-studies/scrum-master-decision-design/hero.png
  src/content/case-studies/ether-store.md
  src/content/case-studies/linear-studio.md
  src/content/case-studies/nexus-data.md
  src/content/case-studies/scrum-master-decision-design.md
  src/content/case-studies/vera-finance.md
Due: prettier

docs(spec): add 3-column case study parity design
  docs/superpowers/specs/2026-04-13-case-study-detail-3-column-parity-design.md
Due: prettier

docs(plan): add 3-column case study detail implementation plan
  docs/superpowers/plans/2026-04-13-case-study-detail-3-column-parity-plan.md
Due: prettier

chore: add rehype-slug and github-slugger for case study TOC
  astro.config.mjs
  bun.lock
  package.json
Due: prettier

feat(content): add summaryRows for case study summary tables
  src/content.config.ts
  src/content/case-studies/design-system.md
  src/content/case-studies/owners-app-proposal.md
  src/content/case-studies/scrum-master-decision-design.md
Due: oxlint, prettier

feat(portfolio): Paper-style 3-column case study detail page
  src/components/portfolio/CaseStudyDetailHeader.astro
  src/components/portfolio/CaseStudyDetailRelated.astro
  src/components/portfolio/CaseStudyDetailToc.astro
  src/components/portfolio/CaseStudyDetailTocScrollSpy.astro
  src/components/portfolio/portfolio-types.ts
  src/layouts/PortfolioLayout.astro
  src/lib/case-study-toc.ts
  src/pages/portfolio/work/[slug].astro
Due: oxlint, prettier

fix(portfolio): remove case study header border and pin tags in header
  src/components/portfolio/CaseStudyDetailHeader.astro
  src/components/portfolio/CaseStudyDetailRelated.astro
  src/components/portfolio/CaseStudyDetailToc.astro
  src/components/portfolio/portfolio-types.ts
  src/pages/portfolio/work/[slug].astro
Due: oxlint, prettier

fix(portfolio): align 3-column top spacing and grid alignment
  src/components/portfolio/CaseStudyDetailRelated.astro
  src/components/portfolio/CaseStudyDetailToc.astro
  src/pages/portfolio/work/[slug].astro
Due: none

docs(spec): add Portfolio Calm 2-column parity design for /portfolio
  docs/superpowers/specs/2026-04-13-portfolio-calm-2column-design.md
Due: prettier

docs(plan): add Portfolio Calm 2-column implementation plan
  docs/superpowers/plans/2026-04-13-portfolio-calm-2column-plan.md
Due: prettier

feat(portfolio): add listing header component and layout slot
  src/components/portfolio/PortfolioListingHeader.astro
  src/components/portfolio/portfolio-types.ts
  src/layouts/PortfolioLayout.astro
Due: oxlint, prettier

feat(portfolio): rebuild listing page with calm shell
  src/pages/portfolio/index.astro
Due: none

feat(portfolio): unify case study cards to calm 2-column layout
  src/components/portfolio/PortfolioCaseStudy.astro
Due: none

fix(portfolio): point case study header About link to /about
  src/pages/portfolio/work/[slug].astro
Due: none

feat(pages): add minimal about page
  src/pages/about.astro
Due: none

chore(portfolio): remove unused PortfolioContact component
  src/components/portfolio/PortfolioContact.astro
Due: none

style(portfolio): add calm card shell to case study rows
  src/components/portfolio/PortfolioCaseStudy.astro
Due: none

style(portfolio): square thumbnails on case study listing
  src/components/portfolio/PortfolioCaseStudy.astro
  src/pages/portfolio/index.astro
Due: none

style(portfolio): shrink listing thumbs to ~16rem to match copy column
  src/components/portfolio/PortfolioCaseStudy.astro
  src/pages/portfolio/index.astro
Due: none

fix(portfolio): overlay case index on thumbnail top-left
  src/components/portfolio/PortfolioCaseStudy.astro
Due: none

refactor(portfolio): text-only case cards per Paper listing
  src/components/portfolio/PortfolioCaseStudy.astro
  src/components/portfolio/portfolio-types.ts
  src/pages/portfolio/index.astro
Due: oxlint, prettier

fix(portfolio): Paper-style index rail + true list order
  src/components/portfolio/PortfolioCaseStudy.astro
Due: none

style(portfolio): align case study detail with calm listing tokens
  src/components/portfolio/CaseStudyDetailHeader.astro
  src/components/portfolio/CaseStudyDetailRelated.astro
  src/components/portfolio/CaseStudyDetailTocScrollSpy.astro
  src/pages/portfolio/work/[slug].astro
Due: none

style(portfolio): Grass accents on tags, outcome, CTA, related hover
  src/components/portfolio/CaseStudyDetailRelated.astro
  src/components/portfolio/PortfolioCaseStudy.astro
  src/components/portfolio/PortfolioTag.astro
Due: none

feat(portfolio): sticky case studies section heading
  src/pages/portfolio/index.astro
Due: none

fix(portfolio): align sticky heading top with listing header height
  src/pages/portfolio/index.astro
  src/styles/styles.css
Due: prettier

fix(portfolio): keep detail TOC and related rails sticky on scroll
  src/components/portfolio/CaseStudyDetailRelated.astro
  src/components/portfolio/CaseStudyDetailToc.astro
  src/pages/portfolio/work/[slug].astro
  src/styles/styles.css
Due: prettier

fix(portfolio): match detail rail sticky top to main padding
  src/components/portfolio/CaseStudyDetailRelated.astro
  src/components/portfolio/CaseStudyDetailToc.astro
  src/pages/portfolio/work/[slug].astro
  src/styles/styles.css
Due: prettier

feat(portfolio): hierarchical On this page TOC for h2–h6
  src/components/portfolio/CaseStudyDetailToc.astro
  src/components/portfolio/CaseStudyDetailTocBranch.astro
  src/components/portfolio/CaseStudyDetailTocScrollSpy.astro
  src/lib/case-study-toc.ts
  src/pages/portfolio/work/[slug].astro
Due: oxlint, prettier

docs: add View Transitions design spec for portfolio
  docs/superpowers/specs/2026-04-14-view-transitions-design.md
Due: prettier

docs: fix typo in View Transitions spec (役割)
  docs/superpowers/specs/2026-04-14-view-transitions-design.md
Due: prettier

docs: add View Transitions portfolio implementation plan
  docs/superpowers/plans/2026-04-14-view-transitions-portfolio.md
Due: prettier

feat(portfolio): extend CaseStudy type for hero VT on listing
  src/components/portfolio/portfolio-types.ts
Due: oxlint, prettier

feat(portfolio): pass hero image and transition name to listing
  src/pages/portfolio/index.astro
Due: none

feat(portfolio): listing hero thumb with shared transition name
  src/components/portfolio/PortfolioCaseStudy.astro
Due: none

docs(css): link View Transition rules to design spec
  src/styles/styles.css
Due: prettier

feat(portfolio): tune transitions and fade overlays
  src/components/portfolio/CaseStudyDetailRelated.astro
  src/components/portfolio/CaseStudyDetailTocBranch.astro
  src/components/portfolio/CaseStudyDetailTocScrollSpy.astro
  src/components/portfolio/PortfolioCaseStudy.astro
  src/layouts/PortfolioLayout.astro
  src/pages/portfolio/index.astro
  src/pages/portfolio/work/[slug].astro
  src/styles/styles.css
Due: prettier

fix(perf): prioritize LCP hero image on portfolio listing
  astro.config.mjs
  src/components/portfolio/PortfolioCaseStudy.astro
Due: none
