Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  env:
    PATH: "/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin"
  commands:
    oxlint:
      glob: "*.{ts,tsx,js,jsx}"
      run: /opt/homebrew/bin/bunx oxlint {staged_files} --fix
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,css,md}"
      run: /opt/homebrew/bin/bun run format
    type-check:
      run: /opt/homebrew/bin/bun run type-check

feat: Enhance CI workflow with environment variable loading for Codecov
  .github/workflows/ci.yml
Due: none

feat: Implement staging deployment workflow with temporary database
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .gitignore
  projects/.env
  projects/.env.development
  projects/.env.production
  scripts/neon-branch.ts
Due: oxlint, prettier

chore: Update CI workflows and scripts for improved deployment and environment handling
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  scripts/neon-branch.ts
Due: oxlint, prettier

chore: Refactor CI workflows for improved clarity and security
  codecov.yml
Due: none

chore: Refactor staging deployment workflow for improved environment variable handling
  .github/workflows/deploy-staging.yml
Due: none

chore: Enhance deployment workflows with environment variable integration
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

fix: Add --yes flag to payload migrate for CI non-interactive execution
  .github/workflows/deploy-staging.yml
Due: none

fix: Add write permissions for staging branch update in deploy workflow
  .github/workflows/deploy-staging.yml
Due: none

fix: Add write permissions for contents in CI deployment workflow
  .github/workflows/ci.yml
Due: none

fix: Update staging smoke tests to accept 401 responses for protected deployments
  .github/workflows/deploy-staging.yml
Due: none

chore: Consolidate and enhance deployment workflows for production
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/pr-preview.yml
Due: none

fix: Update PR preview workflow permissions for enhanced functionality
  .github/workflows/pr-preview.yml
Due: none

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

Update .github/workflows/pr-preview.yml
  .github/workflows/pr-preview.yml
Due: none

fix: Enhance DATABASE_URL handling in PR preview workflow
  .github/workflows/pr-preview.yml
Due: none

chore: Refactor CI workflows for improved structure and efficiency
  .github/workflows/ci.yml
  .github/workflows/pr-preview.yml
  .github/workflows/reusable-tests.yml
  scripts/neon-branch.ts
Due: oxlint, prettier

feat: Add vercel.json to ensure dotenvx runs in all environments
  vercel.json
Due: prettier

feat: Add vercel.json and vercel-build script
  package.json
  vercel.json
Due: prettier

fix: Add --yes flag to payload migrate command in CI workflow for non-interactive execution
  .github/workflows/ci.yml
Due: none

fix: Skip environment validation in CI to allow deployment with incomplete secrets
  .github/workflows/ci.yml
  src/lib/env.ts
Due: oxlint, prettier

fix: Add SKIP_ENV_VALIDATION=true to generate:importmap:production script
  package.json
Due: prettier

fix: Add SKIP_ENV_VALIDATION=true to build script to skip env validation during Next.js build
  package.json
Due: prettier

chore: Update environment variable handling in CI workflows
  .github/workflows/mutation-scheduled.yml
  .github/workflows/reusable-tests.yml
  .github/workflows/scheduled-maintenance.yml
  package.json
  projects/.env
  projects/.env.development
  projects/.env.example
  projects/.env.production
Due: prettier

fix: TypeScript error in validate-renovate-config.ts
  .github/RENOVATE_QUICKSTART.md
  .github/RENOVATE_SETUP.md
  .github/workflows/ci.yml
  README.md
  knip.json
  package.json
  renovate.json
  scripts/setup-renovate-labels.sh
  scripts/validate-renovate-config.ts
Due: oxlint, prettier

feat: Add Codecov webpack plugin configuration
  .github/workflows/ci.yml
  bun.lock
  knip.json
  next.config.ts
  package.json
  vitest.config.ts
Due: oxlint, prettier

fix: format renovate.json to match Biome style
  renovate.json
Due: prettier

docs: Update neon-branch.ts script documentation for GitHub Actions
  scripts/neon-branch.ts
Due: oxlint, prettier

chore: Update Playwright and Vitest configurations for performance testing
  .github/workflows/ci.yml
  playwright.config.ts
  src/__tests__/integration/preview-route.test.ts
  src/__tests__/unit/error-page.test.tsx
  src/__tests__/unit/payload-client.test.ts
  src/lib/performance/config.ts
  tests/performance/vitest/image-optimization.test.ts
  tests/performance/vitest/memory-leak.test.ts
  vitest.config.ts
Due: oxlint, prettier

chore: Enhance performance testing setup and integration tests
  .github/workflows/scheduled-maintenance.yml
  src/__tests__/integration/preview-route.test.ts
  src/__tests__/unit/payload-client.test.ts
  tests/performance/vitest/core-web-vitals-essential.spec.ts
  tests/performance/vitest/core-web-vitals.spec.ts
Due: oxlint, prettier

chore: Update environment variables in configuration files
  projects/.env
  projects/.env.development
  projects/.env.production
Due: none

chore: Update encrypted environment variables across configuration files
  projects/.env
  projects/.env.development
  projects/.env.production
Due: none

chore: Refactor scheduled maintenance workflow for development database usage
  .github/workflows/scheduled-maintenance.yml
Due: none

chore: Update scheduled maintenance workflow to utilize production database
  .github/workflows/scheduled-maintenance.yml
Due: none

chore: Update scheduled maintenance workflow and environment variables
  .github/workflows/scheduled-maintenance.yml
  projects/.env
  projects/.env.development
  projects/.env.production
Due: none

chore: Update scheduled maintenance workflow for migration and testing
  .github/workflows/scheduled-maintenance.yml
Due: none

feat: optimize Renovate PR integration tests to reduce Neon branch creation
  .github/workflows/ci.yml
  docs/RENOVATE_OPTIMIZATION.md
  renovate.json
  scripts/detect-dependency-only-changes.ts
Due: oxlint, prettier
