Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

oxlint:
  run: /opt/homebrew/bin/bunx oxlint {staged_files} --fix

prettier:
  run: /opt/homebrew/bin/bun run format

chore: Update biome.json and CI workflows for improved test environment management
  .github/workflows/reusable-tests.yml
  biome.json
  src/__tests__/integration/collections-posts.test.ts
  src/app/(frontend)/posts/[slug]/page.tsx
  tests/e2e/helpers/setup.ts
Due: oxlint, prettier

chore: Update E2E test server startup command in CI workflow
  .github/workflows/reusable-tests.yml
Due: none

chore: Update E2E test commands to use dotenvx for environment variable loading
  .github/workflows/reusable-tests.yml
  package.json
Due: prettier

chore: Update environment variable handling for tests and workflows
  .github/workflows/ci.yml
  .github/workflows/e2e-nightly.yml
  .github/workflows/reusable-tests.yml
  package.json
  playwright.config.ts
  projects/.env.test
  tests/e2e/helpers/fixtures.ts
Due: oxlint, prettier

chore: Update environment variable references for development in CI workflows
  .github/SECRETS_SETUP.md
  .github/workflows/README.md
  .github/workflows/reusable-tests.yml
Due: prettier

chore: Update environment variable references to .env.development for consistency
  .github/SECRETS_SETUP.md
  .github/workflows/README.md
  .github/workflows/reusable-tests.yml
  .github/workflows/scheduled-maintenance.yml
  .gitignore
  tests/e2e/helpers/global-setup.ts
  tests/e2e/helpers/global-teardown.ts
  tests/e2e/helpers/setup.ts
  tests/e2e/run_fix.sh
Due: oxlint, prettier

chore: Refine environment variable handling in CI workflows and E2E tests
  .github/workflows/README.md
  .github/workflows/reusable-tests.yml
  .github/workflows/scheduled-maintenance.yml
  tests/e2e/helpers/global-setup.ts
  tests/e2e/helpers/global-teardown.ts
  tests/e2e/helpers/setup.ts
Due: oxlint, prettier

chore: Update environment variables in .env files for improved security and consistency
  projects/.env
  projects/.env.development
  projects/.env.production
Due: none

chore: Update environment variable loading in E2E tests for improved consistency
  .github/workflows/README.md
  package.json
  projects/.env
  tests/e2e/helpers/global-setup.ts
  tests/e2e/helpers/global-teardown.ts
  tests/e2e/helpers/setup.ts
Due: oxlint, prettier

chore: Update E2E test commands to load environment variables from both .env and .env.development
  .github/workflows/README.md
  .github/workflows/reusable-tests.yml
Due: prettier

chore: Integrate sharp for image processing in payload configuration
  src/payload.config.ts
Due: oxlint, prettier

chore: Update E2E test commands to use bunx for environment variable loading
  .github/workflows/reusable-tests.yml
Due: none

perf: Optimize GitHub Actions workflows for faster CI/CD
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/pr-preview.yml
  .github/workflows/reusable-tests.yml
Due: none

fix: Skip PR preview deployment when VERCEL_TOKEN is unavailable
  .github/workflows/pr-preview.yml
Due: none

chore: Add VERCEL_TOKEN to .env for deployment configuration
  projects/.env
Due: none

fix: Use direct environment variables in CI instead of dotenvx
  .github/workflows/reusable-tests.yml
Due: none

fix: Skip DATABASE_URL validation during Vercel build
  src/lib/env.ts
Due: oxlint, prettier

fix: Add fallback values for optional env vars in Payload config
  src/payload.config.ts
Due: oxlint, prettier

chore: Add conditional execution for PR preview builds
  .github/workflows/pr-preview.yml
Due: none

テスト用シードデータを更新し、認証設定とプレビュールートを調整。
  src/app/(frontend)/preview/route.ts
  tests/e2e/auth.setup.ts
  tests/e2e/fixtures/seed-data.json
Due: oxlint, prettier

refactor: PRプレビューワークフローを削除し、環境変数を整理し、Codecovアップロードを無効化しました
  .github/workflows/pr-preview.yml
  .github/workflows/scheduled-maintenance.yml
  projects/.env
  projects/.env.development
  projects/.env.production
Due: none

feat: Implement Neon database branching for CI/CD workflows
  .github/workflows/reusable-tests.yml
  .github/workflows/scheduled-maintenance.yml
  docs/NEON_BRANCHING_SETUP.md
  projects/.env
  projects/.env.development
  projects/.env.production
  scripts/neon-branch.ts
Due: oxlint, prettier

chore: Add DOTENV_PRIVATE_KEY to CI workflows for enhanced security
  .github/workflows/reusable-tests.yml
  .github/workflows/scheduled-maintenance.yml
Due: none

chore: Refactor GitHub Actions workflows and update file imports
  .github/workflows/reusable-tests.yml
  scripts/neon-branch.ts
Due: oxlint, prettier

chore: Update conditional for deleting Neon test branch in CI workflows
  .github/workflows/reusable-tests.yml
Due: none

feat: Enhance branch creation logic with error handling and recovery
  scripts/neon-branch.ts
Due: oxlint, prettier

fix: Refine branch recovery logic to ensure proper handling of existing branches
  scripts/neon-branch.ts
Due: oxlint, prettier

feat: Add connection string debugging and stabilization wait in branch creation
  scripts/neon-branch.ts
Due: oxlint, prettier

feat: Improve database connection handling during branch creation
  scripts/neon-branch.ts
Due: oxlint, prettier

feat: Enhance branch naming convention with unique run attempts
  scripts/neon-branch.ts
Due: oxlint, prettier

feat: Enhance branch naming and stabilization wait for database readiness
  scripts/neon-branch.ts
Due: oxlint, prettier

chore: Set CI environment variable for payload migration in reusable-tests.yml
  .github/workflows/reusable-tests.yml
Due: none

feat: Enable push notifications in development environment
  src/payload.config.ts
Due: oxlint, prettier

chore: Remove direct environment variable usage in payload migration command
  .github/workflows/reusable-tests.yml
  src/payload.config.ts
Due: oxlint, prettier

chore: Bypass prompt in payload migration command for CI workflows
  .github/workflows/reusable-tests.yml
Due: none

chore: Add migration synchronization script and update workflow
  .github/workflows/reusable-tests.yml
  scripts/neon-branch.ts
  scripts/sync-migrations.ts
Due: oxlint, prettier

chore: Update reusable-tests.yml to allow non-test database URL
  .github/workflows/reusable-tests.yml
Due: none

feat: Add database reset script for CI environment
  scripts/db-reset.ts
Due: oxlint, prettier

Path conditions:
  oxlint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,css,md}
