Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

oxlint:
  run: bunx oxlint --fix {staged_files}

prettier:
  run: prettier --write {staged_files}

グローバルスタイルのCSSファイルを更新し、色の定義を修正しました。また、シャドウのプロパティを整形し、可読性を向上させました。
  src/styles/globals.css
Due: prettier

GitHub Actionsのワークフローを更新し、E2Eテストとユニットテストのジョブを分離しました。また、Bunの依存関係のキャッシュを追加し、Playwrightブラウザのキャッシュ設定を導入しました。これにより、テストの効率が向上します。
  .github/workflows/e2e-tests.yml
  .github/workflows/visual-regression.yml
Due: none

ビジュアルリグレッションテストのワークフローを更新し、失われたピクセルのアーティファクト名を整理しました。また、Playwrightブラウザのインストールコマンドを簡略化し、ディレクトリ構造を一貫性のある形式に修正しました。
  .github/workflows/visual-regression.yml
Due: none

ビジュアルリグレッションテストのワークフローからPlaywrightブラウザのキャッシュ設定をコメントアウトしました。これにより、テストの実行時にキャッシュの影響を受けないようにしました。
  .github/workflows/visual-regression.yml
Due: none

ビジュアルリグレッションテストのワークフローを更新し、Playwrightブラウザのキャッシュ設定を有効化しました。また、テスト実行時に失われたピクセルのデバッグ情報を追加しました。
  .github/workflows/visual-regression.yml
Due: none

ビジュアルリグレッションテストのワークフローにPlaywrightのインストール確認ステップを追加しました。これにより、ブラウザのインストール状況を確認できるようになります。
  .github/workflows/visual-regression.yml
Due: none

package.jsonとbun.lockに@playwright/testのバージョンオーバーライドを追加しました。また、ビジュアルリグレッションテストのワークフローからPlaywrightのインストール確認ステップを削除しました。
  .github/workflows/visual-regression.yml
  bun.lock
  package.json
Due: prettier

package.jsonとbun.lockにplaywrightとplaywright-coreのバージョンオーバーライドを追加しました。これにより、依存関係の管理が強化されます。
  bun.lock
  package.json
Due: prettier

ビジュアルリグレッションテストのワークフローで失われたピクセルとベースラインのアーティファクト名を整理しました。これにより、アーティファクト名が一貫性を持つようになります。
  .github/workflows/visual-regression.yml
Due: none

グローバルスタイルのCSSファイルを更新し、インポート文の引用符を統一しました。また、シャドウプロパティの定義を整形し、可読性を向上させました。
  src/styles/globals.css
Due: prettier

ビジュアルリグレッションテストのワークフローで失われたピクセルのアーティファクト名を簡略化し、一貫性を持たせました。
  .gitignore
Due: none

React 19に基づく新しいコンポーネント設計ルールを追加しました。これにより、React 19の新機能やパラダイムシフトを反映した実践的なガイドラインが提供されます。また、既存のルールファイルの説明とグロブパターンを整理しました。
  .cursor/rules/auto-attached/react-19-rules.mdc
  .cursor/rules/auto-attached/react-rules.mdc
Due: none

VRTガイドを削除しました。これにより、ドキュメントの整理が進み、最新のテストワークフローに合わせた情報提供が可能になります。
  docs/vrt-guide.md
Due: prettier

Reactコンポーネント設計ルールとテストファイル開発ルールの説明を更新し、TypeScriptのベストプラクティスを追加しました。これにより、各ルールの明確さが向上し、開発者が遵守すべきガイドラインが強化されます。
  .cursor/rules/auto-attached/react-rules.mdc
  .cursor/rules/auto-attached/test-files.mdc
  .cursor/rules/auto-attached/typescript-rules.mdc
Due: none

lostpixel.config.jsを削除し、TypeScript版のlostpixel.config.tsを新規作成しました。また、package.json内のビジュアルリグレッションテストのスクリプトを更新し、.lostpixel/.gitignoreを追加して、currentおよびdifferenceディレクトリを無視するように設定しました。
  .lostpixel/.gitignore
  lostpixel.config.js
  lostpixel.config.ts
  package.json
Due: oxlint, prettier

feat: 記事のMarkdown機能を追加
  bun.lock
  debug-screenshot.png
  package.json
  public/articles/2024-01-20-nextjs-draft.md
  public/articles/2024-06-01-hello-world.md
  src/App.tsx
  src/components/ui/ArticleCard/ArticleCard.stories.tsx
  src/components/ui/ArticleCard/ArticleCard.tsx
  src/components/ui/ArticleList/ArticleList.test.tsx
  src/components/ui/ArticleList/ArticleList.tsx
  src/features/articles/Article.tsx
  src/features/articles/index.tsx
  src/hooks/useArticles.test.ts
  src/hooks/useArticles.ts
  src/main.tsx
  src/mocks/handlers.ts
  src/services/api.test.ts
  src/services/api.ts
  src/styles/globals.css
  src/types/api.ts
  vite.config.ts
Due: oxlint, prettier

docs: CLAUDE.mdとcode-reviewer.mdを新規作成し、開発ガイドラインとコードレビューのフレームワークを追加しました。これにより、パッケージ管理、開発コマンド、テスト、コード品質、プロジェクトアーキテクチャに関する明確な指針が提供され、開発者が遵守すべきベストプラクティスが強化されます。
  .claude/agents/code-reviewer.md
  CLAUDE.md
Due: prettier

tsgoの導入
  bun.lock
  package.json
  tsconfig.json
Due: prettier

未使用APIの削除
  src/components/ui/ArticleList/ArticleList.test.tsx
  src/hooks/useArticles.test.ts
  src/hooks/useArticles.ts
  src/main.tsx
  src/mocks/handlers.ts
  src/services/api.test.ts
  src/services/api.ts
  src/types/api.ts
  tests/e2e/accessibility.spec.ts
  tests/e2e/error-handling.spec.ts
  tests/e2e/home.spec.ts
Due: oxlint, prettier

feat: E2Eテストワークフローを削除し、品質保証ワークフローを新規作成
  .github/workflows/e2e-tests.yml
  .github/workflows/quality-assurance.yml
Due: none

feat: Bunのセットアップアクションを新規作成し、依存関係のキャッシュ機能を追加
  .github/actions/setup-bun/action.yml
  .github/workflows/quality-assurance.yml
Due: none

fix: エラーメッセージを「記事の読み込みに失敗しました」から「記事一覧の取得に失敗しました」に変更し、短縮されたスラッグからフルスラッグを取得する機能を追加。APIエラー時のハンドリングを改善し、テストを更新。
  src/components/ui/ArticleList/ArticleList.tsx
  src/services/api.ts
  tests/e2e/accessibility.spec.ts
  tests/e2e/error-handling.spec.ts
  tests/e2e/home.spec.ts
Due: oxlint, prettier

テストのモックデータを更新し、公開記事を1件に変更。TypeScriptの型安全性に関する記事を削除し、Next.js 14の新機能に関するドラフト記事を追加。エラーメッセージの表示を改善し、短縮スラッグからの取得機能を追加。
  src/components/ui/ArticleList/ArticleList.test.tsx
  src/hooks/useArticles.test.ts
  src/services/api.test.ts
Due: oxlint, prettier

テストコードのエラーメッセージ表示部分を整形し、可読性を向上させました。具体的には、`expect`文を複数行に分割しました。
  src/components/ui/ArticleList/ArticleList.test.tsx
Due: oxlint, prettier

quality-assurance.ymlのリポジトリチェックアウトステップにfetch-depth: 1を追加し、キャッシュの効率を向上させました。
  .github/workflows/quality-assurance.yml
Due: none

quality-assurance.ymlの各ジョブのタイムアウト時間を短縮し、キャッシュキーにplaywright.config.tsを追加しました。
  .github/workflows/quality-assurance.yml
Due: none

新しいアクション「Checkout and Setup」を作成し、品質保証ワークフロー内のリポジトリチェックアウトとBunのセットアップステップを統合しました。
  .github/actions/checkout-and-setup/action.yml
  .github/workflows/quality-assurance.yml
Due: none

品質保証ワークフロー内のリポジトリチェックアウトステップをactions/checkout@v4に変更し、Bunのセットアップステップを追加しました。これにより、キャッシュの効率が向上しました。
  .github/workflows/quality-assurance.yml
Due: none

Add madge dependency analysis and fix lefthook configuration
  .cursor/rules/workflow.mdc
  .gitignore
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .madgerc
  bun.lock
  lefthook.yml
  package.json
  public/mockServiceWorker.js
Due: oxlint, prettier

Test lefthook with file changes
  .github/actions/setup-bun/action.yml
  test.md
Due: prettier

lefthook.ymlの設定を更新し、コマンドをbunxからbunに変更しました。これにより、リントとフォーマットの実行方法が統一されました。
  lefthook.yml
Due: none

品質保証ワークフローにセキュリティと依存関係チェックのジョブを追加し、各ジョブの番号を更新しました。これにより、リントと並列でセキュリティ監査を実行できるようになりました。
  .github/workflows/quality-assurance.yml
Due: none

品質保証ワークフローに依存関係分析ジョブを追加し、Madgeによる循環依存性チェックを統合しました。また、BunのセットアップアクションからMadge関連のステップを削除し、キャッシュの効率を向上させました。
  .github/actions/setup-bun/action.yml
  .github/workflows/quality-assurance.yml
Due: none

fix: lefthook pre-commit configuration to use correct commands
  bun.lock
  lefthook.yml
  package.json
  src/components/ui/Chart/Chart.tsx
Due: oxlint, prettier

package.jsonのリントおよびチェックコマンドをbunxからoxlintに変更し、コマンドの一貫性を向上させました。
  package.json
Due: prettier

fix: resolve all security vulnerabilities including esbuild
  bun.lock
  package.json
Due: prettier

依存関係分析のためにKnipを追加し、品質保証ワークフローにコード分析ジョブを統合しました。また、不要な依存関係のチェックとレポート生成を行うステップを追加しました。
  .cursor/rules/workflow.mdc
  .github/workflows/quality-assurance.yml
  bun.lock
  knip.json
  package.json
Due: prettier

knip.jsonに新しいルールを追加し、品質保証ワークフローでのKnipのエラーハンドリングを改善しました。これにより、未使用コード分析とレポート生成の失敗時にも処理が継続されるようになりました。
  .github/workflows/quality-assurance.yml
  knip.json
Due: prettier

依存関係分析のコマンドをMadgeからanalyzeに変更し、品質保証ワークフロー内の関連するスクリプトを更新しました。
  .cursor/rules/workflow.mdc
  .github/workflows/quality-assurance.yml
Due: none

品質保証ワークフローのコード分析ジョブを包括的な分析に更新し、未使用コード、循環依存性、孤立モジュール、リーフモジュールのチェックを統合しました。また、レポート生成のステップを改善し、アーティファクトのアップロード名を変更しました。
  .github/workflows/quality-assurance.yml
Due: none

Path conditions:
  oxlint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,css,md}
