Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  env:
    PATH: "/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin"
  commands:
    oxlint:
      glob: "*.{ts,tsx,js,jsx}"
      run: /opt/homebrew/bin/bunx oxlint {staged_files} --fix
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,css,md}"
      run: /opt/homebrew/bin/bun run format
    type-check:
      run: /opt/homebrew/bin/bun run type-check

feat(portfolio): add animated back chevron on case detail header
  src/components/portfolio/CaseStudyDetailHeader.astro
  src/components/portfolio/portfolio-types.ts
  src/styles/styles.css
Due: oxlint, prettier

fix(portfolio): retrigger detail back-button motion on client nav
  src/components/portfolio/CaseStudyDetailHeader.astro
Due: none

refactor(portfolio): move case study routes to root path
  src/pages/case-study/[slug].astro
  src/pages/portfolio/index.astro
Due: none

style(brand): replace default favicon with plain black circle
  public/favicon.svg
Due: none

docs(spec): add career case-study improvement design
  docs/superpowers/specs/2026-04-14-career-case-study-improvement-design.md
Due: prettier

docs(plan): add case study improvement implementation plan
  docs/superpowers/plans/2026-04-14-career-case-study-improvement-plan.md
Due: prettier

feat(content): add ai case study and reorder portfolio cases (order 2→3, 3→4)
  src/content/case-studies/owners-app-proposal.md
  src/content/case-studies/scrum-master-decision-design.md
Due: prettier

feat(content): add AI page production case study (Case 02)
  src/assets/case-studies/ai-page-production-initiative/hero.png
  src/content/case-studies/ai-page-production-initiative.md
Due: prettier

refactor(content): strengthen design-system case study outcomes and learning
  src/content/case-studies/design-system.md
Due: prettier

feat(seo): add per-case og metadata and align about narrative
  src/layouts/PortfolioLayout.astro
  src/pages/about.astro
  src/pages/case-study/[slug].astro
Due: none

refactor(content): refresh case study narratives for portfolio storytelling
  src/content/case-studies/ai-page-production-initiative.md
  src/content/case-studies/design-system.md
  src/content/case-studies/owners-app-proposal.md
  src/content/case-studies/scrum-master-decision-design.md
Due: prettier

fix(content): close broken frontmatter quotes in case studies
  src/content/case-studies/ai-page-production-initiative.md
  src/content/case-studies/design-system.md
Due: prettier

feat: serve case study listing at /case-study with portfolio redirects
  AGENTS.md
  CLAUDE.md
  README.md
  astro.config.mjs
  docs/requirements.md
  public/_headers
  public/robots.txt
  src/components/portfolio/CaseStudyDetailHeader.astro
  src/components/portfolio/PortfolioTopNav.astro
  src/components/portfolio/portfolio-types.ts
  src/content/case-studies/design-system.md
  src/content/case-studies/scrum-master-decision-design.md
  src/pages/case-study/index.astro
  src/styles/styles.css
Due: oxlint, prettier

fix: モバイルでの「ケーススタディ」sticky 見出しとヘッダーの隙間を修正
  src/styles/styles.css
Due: prettier

feat: replace case study thumbnails with content-specific images
  src/assets/case-studies/ai-page-production-initiative/hero.png
  src/assets/case-studies/design-system/hero.png
  src/assets/case-studies/owners-app-proposal/hero.png
  src/assets/case-studies/scrum-master-decision-design/hero.png
  src/content/case-studies/ai-page-production-initiative.md
  src/content/case-studies/design-system.md
  src/content/case-studies/owners-app-proposal.md
  src/content/case-studies/scrum-master-decision-design.md
Due: prettier

content(case-study): AIページ制作ケースに実作業のスクショを追加
  src/assets/case-studies/ai-page-production-initiative/cursor-lighthouse-baseline.png
  src/assets/case-studies/ai-page-production-initiative/paper-color-system-layout.png
  src/content/case-studies/ai-page-production-initiative.md
Due: prettier

feat(case-study): ヒーロー／一覧用画像の差し替えと listingImage 対応
  src/assets/case-studies/ai-page-production-initiative/hero.png
  src/assets/case-studies/design-system/hero.png
  src/assets/case-studies/owners-app-proposal/hero.png
  src/assets/case-studies/scrum-master-decision-design/hero.png
  src/components/portfolio/PortfolioCaseStudy.astro
  src/components/portfolio/portfolio-types.ts
  src/content.config.ts
  src/content/case-studies/ai-page-production-initiative.md
  src/content/case-studies/design-system.md
  src/content/case-studies/owners-app-proposal.md
  src/content/case-studies/scrum-master-decision-design.md
Due: oxlint, prettier

docs: add Knip/jscpd local verify design spec
  docs/superpowers/specs/2026-04-18-knip-jscpd-local-verify-design.md
Due: prettier

docs: add Knip/jscpd local verify implementation plan
  docs/superpowers/plans/2026-04-18-knip-jscpd-local-verify-plan.md
Due: prettier

chore(dev): add knip and jscpd as devDependencies
  bun.lock
  package.json
Due: prettier

chore: add knip.json with path aliases and .claude ignore
  knip.json
Due: prettier

chore: add jscpd config for src duplication scan
  .jscpd.json
Due: prettier

chore: add verify script chaining check, knip, and jscpd
  package.json
Due: prettier

chore: tune knip ignores for verify (WIP components, deps, starwind barrels)
  knip.json
Due: prettier

chore: remove unused portfolio components and unused dependencies
  bun.lock
  knip.json
  package.json
  src/components/portfolio/PortfolioAbout.astro
  src/components/portfolio/PortfolioHero.astro
Due: prettier

docs: refresh Knip/jscpd implementation plan (formatting)
  docs/superpowers/plans/2026-04-18-knip-jscpd-local-verify-plan.md
Due: prettier

docs: add Radix theme, theme toggle, and Lighthouse design spec
  docs/superpowers/specs/2026-04-18-radix-theme-lighthouse-design.md
Due: prettier

docs: add Radix theme and Lighthouse implementation plan
  docs/superpowers/plans/2026-04-18-radix-theme-implementation.md
Due: prettier

deps: add @radix-ui/colors for Sage and Indigo scales
  bun.lock
  package.json
Due: prettier

style: map theme tokens to Radix Sage and Indigo scales
  src/styles/styles.css
Due: prettier

feat: theme toggle (Radix light/dark), Sage/Indigo UI, a11y fixes
  CLAUDE.md
  src/components/portfolio/CaseStudyDetailHeader.astro
  src/components/portfolio/PortfolioCaseStudy.astro
  src/components/portfolio/PortfolioFooter.astro
  src/components/portfolio/PortfolioListingHeader.astro
  src/components/portfolio/PortfolioTopNav.astro
  src/components/portfolio/ThemeToggleButton.astro
  src/layouts/PortfolioLayout.astro
Due: prettier

chore: enforce color utility semantics (border vs fg vs bg)
  CLAUDE.md
  package.json
  scripts/check-color-semantics.sh
  src/pages/case-study/index.astro
Due: prettier

fix(layout): harden theme init (localStorage try/catch, single page-load listener)
  src/layouts/PortfolioLayout.astro
Due: none

docs: add spec for review follow-up (TOC, dead code, relatedItems)
  docs/superpowers/specs/2026-04-18-review-followup-design.md
Due: prettier

docs: add implementation plan for review follow-up
  docs/superpowers/plans/2026-04-18-review-followup-implementation.md
Due: prettier

deps: add unified pipeline for case-study TOC extraction
  bun.lock
  package.json
Due: prettier

feat(toc): build outline from mdast for rehype-slug alignment
  src/lib/case-study-toc.ts
Due: oxlint, prettier

chore: remove unused TopNav, popover, and positioning helper
  src/components/portfolio/PortfolioCaseStudyScrollSpy.astro
  src/components/portfolio/PortfolioTopNav.astro
  src/components/portfolio/PortfolioWorkNavPopover.astro
  src/components/starwind/popover/Popover.astro
  src/components/starwind/popover/PopoverContent.astro
  src/components/starwind/popover/PopoverDescription.astro
  src/components/starwind/popover/PopoverHeader.astro
  src/components/starwind/popover/PopoverTitle.astro
  src/components/starwind/popover/PopoverTrigger.astro
  src/components/starwind/popover/index.ts
  src/lib/utils/starwind/positioning.ts
Due: oxlint, prettier

refactor(layout): drop unused topNav API from PortfolioLayout
  src/components/portfolio/portfolio-types.ts
  src/layouts/PortfolioLayout.astro
Due: oxlint, prettier
