Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

oxlint:
  run: /opt/homebrew/bin/bunx oxlint {staged_files} --fix

prettier:
  run: /opt/homebrew/bin/bun run format

refactor: Update preview tests to use URL-encoded preview secret
  tests/e2e/preview-essential.spec.ts
Due: oxlint, prettier

refactor: 不要なテスト実装を削除
  package.json
  src/__tests__/integration/error-routes.test.ts
Due: oxlint, prettier

refactor: 未使用のサーバーアクション関連ユーティリティを削除
  knip.json
  package.json
  src/__tests__/integration/safe-action.test.ts
  src/__tests__/integration/server-actions.test.ts
  src/lib/actions/posts.ts
  src/lib/env.ts
  src/lib/logger.ts
  src/lib/safe-action.ts
  src/payload.config.ts
Due: oxlint, prettier

refactor: 未使用の依存関係を削除
  knip.json
  package.json
Due: prettier

refactor: 未使用のスクリプトファイルを削除
  scripts/db-reset.ts
  scripts/sync-migrations.ts
Due: oxlint, prettier

refactor: 古くなったドキュメントを削除
  bun.lock
  docs/CI_CD_OPTIMIZATION.md
  docs/E2E_TESTING_STRATEGY.md
  docs/GITHUB_ACTIONS_PIPELINE.md
Due: prettier

fix: CIワークフローから削除されたテストスクリプトの参照を削除
  .github/workflows/ci.yml
  .github/workflows/reusable-tests.yml
Due: none

test: エラーページとリッチテキストレンダラーのユニットテストを追加
  src/__tests__/unit/error-page.test.tsx
  src/__tests__/unit/rich-text.test.tsx
Due: oxlint, prettier

perf: パフォーマンス最適化実装
  next.config.ts
  src/app/(frontend)/blog/page.tsx
  src/app/(frontend)/posts/[slug]/page.tsx
  src/collections/Posts.ts
  src/lib/api/payload-client.ts
  src/lib/posts.ts
  src/migrations/20260104_140202_add_slug_status_index.ts
  src/migrations/index.ts
Due: oxlint, prettier

fix: テストファイルの依存関係とモックを修正
  src/__tests__/unit/error-page.test.tsx
  src/__tests__/unit/rich-text.test.tsx
Due: oxlint, prettier

fix: CIの静的解析エラーを修正
  src/__tests__/integration/payload-client.test.ts
  src/lib/api/payload-client.ts
Due: oxlint, prettier

Update src/__tests__/unit/rich-text.test.tsx
  src/__tests__/unit/rich-text.test.tsx
Due: oxlint, prettier

style: Biomeのフォーマットとインポート順序を修正
  src/__tests__/unit/error-page.test.tsx
  src/__tests__/unit/rich-text.test.tsx
Due: oxlint, prettier

chore: Update CI workflows and testing scripts for improved coverage and stability
  .github/workflows/ci.yml
  .github/workflows/reusable-tests.yml
  docs/TESTING.md
  package.json
Due: prettier

refactor: Update integration test execution in CI workflow
  .github/workflows/ci.yml
  .github/workflows/reusable-tests.yml
Due: none

feat: Testing Trophy Performance Tests層の実装
  .github/workflows/ci.yml
  .github/workflows/reusable-tests.yml
  bun.lock
  package.json
  src/__tests__/performance/README.md
  src/__tests__/performance/bundle-size.test.ts
  src/__tests__/performance/config.ts
  src/__tests__/performance/core-web-vitals.test.ts
  src/__tests__/performance/image-optimization.test.ts
  src/__tests__/performance/index.ts
  src/__tests__/performance/memory-leak.test.ts
  src/__tests__/performance/posts.perf.test.ts
  src/__tests__/performance/utils.ts
Due: oxlint, prettier

feat: Testing Trophy Performance Tests層の実装完了
  src/__tests__/performance/bundle-size.test.ts
  src/__tests__/performance/core-web-vitals.test.ts
  src/__tests__/performance/image-optimization.test.ts
  src/__tests__/performance/memory-leak.test.ts
  src/__tests__/performance/utils.ts
Due: oxlint, prettier

fix: Improve performance test reliability and error handling
  knip.json
  package.json
  src/__tests__/performance/core-web-vitals.test.ts
  src/__tests__/performance/image-optimization.test.ts
  src/__tests__/performance/index.ts
  src/__tests__/performance/memory-leak.test.ts
  src/__tests__/performance/utils.ts
Due: oxlint, prettier

fix: CI Performance Tests reporter修正
  package.json
Due: prettier

fix: CI Performance Tests環境設定修正
  .github/workflows/reusable-tests.yml
  src/__tests__/performance/core-web-vitals.test.ts
  src/__tests__/performance/image-optimization.test.ts
  src/__tests__/performance/memory-leak.test.ts
Due: oxlint, prettier

perf: migrate performance tests from Puppeteer to Playwright
  .github/workflows/reusable-tests.yml
  package.json
  projects/.env
  projects/.env.development
  projects/.env.production
  src/__tests__/performance/core-web-vitals.test.ts
  src/__tests__/performance/image-optimization.test.ts
  src/__tests__/performance/memory-leak.test.ts
Due: oxlint, prettier

refactor: update build process and import map structure
  package.json
  src/app/(payload)/admin/importMap.js
Due: oxlint, prettier

chore: update dependencies in bun.lock
  bun.lock
Due: none

fix: add validation for encrypted environment variables
  README.md
  src/lib/env.ts
Due: oxlint, prettier

chore: update environment configurations and scripts
  package.json
  projects/.env
  projects/.env.development
  projects/.env.production
  src/app/(frontend)/layout.tsx
  src/app/(payload)/admin/importMap.js
  src/app/layout.tsx
Due: oxlint, prettier

refactor: enhance performance test configurations and chunk validation
  src/__tests__/performance/bundle-size.test.ts
  src/__tests__/performance/config.ts
  src/__tests__/performance/core-web-vitals.test.ts
  src/__tests__/performance/image-optimization.test.ts
  src/__tests__/performance/memory-leak.test.ts
  src/test/db.ts
Due: oxlint, prettier

refactor: enhance performance test validations and thresholds
  src/__tests__/performance/bundle-size.test.ts
  src/__tests__/performance/config.ts
  src/__tests__/performance/core-web-vitals.test.ts
  src/__tests__/performance/image-optimization.test.ts
  src/__tests__/performance/memory-leak.test.ts
  src/__tests__/performance/posts.perf.test.ts
Due: oxlint, prettier

refactor: streamline CI performance test configurations
  src/__tests__/performance/core-web-vitals.test.ts
Due: oxlint, prettier

chore: update environment configurations for Neon branch handling
  .github/workflows/scheduled-maintenance.yml
Due: none

refactor: update performance test for 404 page loading efficiency
  src/__tests__/performance/core-web-vitals.test.ts
Due: oxlint, prettier

refactor: enhance error handling performance tests and update NotFound component
  src/__tests__/performance/core-web-vitals.test.ts
  src/app/(frontend)/not-found.tsx
Due: oxlint, prettier

refactor: simplify performance test utilities and enhance timeout settings
  src/__tests__/performance/core-web-vitals.test.ts
  src/__tests__/performance/image-optimization.test.ts
  tests/e2e/helpers/fixtures.ts
  tests/e2e/preview-essential.spec.ts
  tests/e2e/preview.spec.ts
Due: oxlint, prettier

feat: integrate Resend email service and update environment configurations
  bun.lock
  package.json
  projects/.env
  projects/.env.development
  projects/.env.production
  src/lib/env.ts
  src/payload.config.ts
Due: oxlint, prettier

chore: update environment configurations and CI workflow for Codecov integration
  .github/workflows/scheduled-maintenance.yml
  projects/.env
  projects/.env.development
  projects/.env.production
Due: none

chore: update environment configurations and enhance authentication setup
  .github/workflows/scheduled-maintenance.yml
  projects/.env
  projects/.env.development
  projects/.env.production
  tests/e2e/auth.setup.ts
  tests/e2e/error-handling.spec.ts
  tests/e2e/preview.spec.ts
Due: oxlint, prettier

chore: remove DATABASE_URL environment variable from CI workflow
  .github/workflows/scheduled-maintenance.yml
Due: none

fix: cleanDatabase関数でページネーションを実装し全レコードを確実に削除
  .github/workflows/reusable-tests.yml
  .husky/pre-commit
  package.json
  src/__tests__/integration/performance.test.ts
  src/__tests__/performance/core-web-vitals.test.ts
  src/__tests__/performance/index.ts
  src/__tests__/unit/config.test.ts
  tests/e2e/accessibility-essential.spec.ts
  tests/e2e/helpers/seed.ts
  tests/e2e/helpers/test-data.ts
  tests/e2e/performance-essential.spec.ts
Due: oxlint, prettier

chore: update performance testing suite and CI workflow
  package.json
  tests/e2e/helpers/fixtures.ts
Due: oxlint, prettier

fix: Add missing performance test suite to reusable workflow
  .github/workflows/reusable-tests.yml
Due: none

chore: remove performance test step from reusable CI workflow
  .github/workflows/reusable-tests.yml
Due: none

Path conditions:
  oxlint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,css,md}
