Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

oxlint:
  run: /opt/homebrew/bin/bunx oxlint {staged_files} --fix

prettier:
  run: /opt/homebrew/bin/bun run format

品質保証ワークフローのタイムアウト時間を短縮し、コード分析ジョブの条件を更新しました。また、キャッシュ機能を追加し、分析レポートのアップロード条件を改善しました。ジョブ名を変更し、ビルドおよびユニットテストの並列実行に関するコメントを修正しました。
  .github/workflows/quality-assurance.yml
Due: none

vitest.config.tsにvitestの設定を含めるためのコメントを追加しました。
  vitest.config.ts
Due: oxlint, prettier

React Scanをプロジェクトに統合し、ViteプラグインとCDNスクリプトを追加しました。これにより、開発環境でのパフォーマンス分析が可能になります。また、関連するドキュメントを作成し、使用方法や設定について詳しく説明しました。
  bun.lock
  docs/react-scan.md
  index.html
  package.json
  vite.config.ts
Due: oxlint, prettier

docs: 地球シミュレーション背景実装計画ドキュメントを追加
  docs/earth-background-implementation.md
Due: prettier

feat: Add encrypted environment files using dotenvx
  .gitignore
  projects/.env
  projects/.env.development
  projects/.env.production
Due: none

feat: Include .env.test in env scripts
  .gitignore
  package.json
  projects/.env
  projects/.env.development
  projects/.env.production
  projects/.env.test
Due: prettier

test: pre-commit hook
  .husky/pre-commit
  README.md
Due: prettier

feat: pre-commit hookを設定
  .husky/pre-commit
Due: none

feat: コミット時に基本的な静的テストを実行
  package.json
Due: prettier

feat: コード解析をCIで自動実行できるように設定
  .github/workflows/deploy-fast.yml
  .jscpd.json
  package.json
Due: prettier

feat: Update project configuration and dependencies
  .github/workflows/README.md
  .github/workflows/ci-fast.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .husky/pre-commit
  package.json
  src/__tests__/integration/collections-posts.test.ts
  src/__tests__/integration/error-routes.test.ts
  src/__tests__/integration/preview-route.test.ts
  src/__tests__/integration/safe-action.test.ts
  src/__tests__/unit/article-content.test.tsx
  src/__tests__/unit/config.test.ts
  tests/e2e/accessibility-essential.spec.ts
  tests/e2e/blog-list.spec.ts
  tests/e2e/error-essential.spec.ts
  tests/e2e/helpers/fixtures.ts
  tests/e2e/helpers/seed.ts
  tests/e2e/post-detail.spec.ts
  tests/e2e/preview-essential.spec.ts
  tsconfig.json
Due: oxlint, prettier

refactor: Improve type safety in tests and mock components
  src/__tests__/setup.ts
  src/__tests__/unit/post-card.test.tsx
  src/app/(frontend)/blog/page.tsx
  src/components/loading.tsx
Due: oxlint, prettier

chore: Update encrypted environment variables across all configurations
  projects/.env
  projects/.env.development
  projects/.env.production
  projects/.env.test
Due: none

fix: Update revalidation time for blog and post pages
  src/app/(frontend)/blog/page.tsx
  src/app/(frontend)/posts/[slug]/page.tsx
Due: oxlint, prettier

chore: Update CI configuration for environment variables
  .github/workflows/ci.yml
Due: none

chore: Update payload migration command and CI environment variables
  .github/workflows/deploy.yml
  package.json
Due: prettier

chore: Add debug steps to check availability of secrets in CI and deploy workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore: Simplify CI workflow by consolidating environment variables
  .github/workflows/ci.yml
Due: none

chore: Refactor deployment workflow to use environment variables for server URL
  .github/workflows/deploy.yml
Due: none

chore: Add debug steps to verify DOTENV_PRIVATE_KEY_TEST in CI workflow
  .github/workflows/ci.yml
Due: none

chore: Update payload migration command to set NODE_ENV for production
  package.json
Due: prettier

chore: Add DOTENV_PRIVATE_KEY environment variables to deployment workflow
  .github/workflows/deploy-fast.yml
Due: none

chore: Update database migration command in deployment workflow
  .github/workflows/deploy-fast.yml
Due: none

chore: Update database migration command in deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: Enhance database migration command in deployment workflows
  .github/workflows/deploy-fast.yml
  .github/workflows/deploy.yml
Due: none

fix(tests): Update integration tests for collections to correct status mapping and handle role updates
  src/__tests__/integration/collections-posts.test.ts
  src/__tests__/integration/collections-users.test.ts
Due: oxlint, prettier

chore: Add cross-env dependency and enhance E2E test setup
  bun.lock
  package.json
  tests/e2e/helpers/setup.ts
Due: oxlint, prettier

chore: Update database migration command in deployment workflows to use bunx
  .github/workflows/deploy-fast.yml
  .github/workflows/deploy.yml
Due: none

chore: Enhance Playwright configuration and add authentication setup for E2E tests
  .github/workflows/deploy-fast.yml
  playwright.config.ts
  tests/e2e/auth.setup.ts
  tests/e2e/run_fix.sh
Due: oxlint, prettier

chore: Refactor package.json scripts for improved environment variable handling
  package.json
Due: prettier

ci: デプロイワークフローのデータベースマイグレーションでdotenvxによる環境変数ロードを導入
  .github/workflows/deploy-fast.yml
Due: none

chore: Refactor CI workflows and package.json scripts for improved environment handling
  .github/SECRETS_SETUP.md
  .github/actions/setup/action.yml
  .github/workflows/README.md
  .github/workflows/ci-fast.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-fast.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e-full.yml
  .github/workflows/e2e-nightly.yml
  .github/workflows/e2e.yml
  .github/workflows/reusable-tests.yml
  .husky/pre-commit
  package.json
Due: prettier

chore: Add checkout step to reusable CI workflow for improved repository access
  .github/workflows/reusable-tests.yml
Due: none

refactor: Improve error handling and type safety in database and payload functions
  src/test/db.ts
  src/test/helpers/auth.ts
  src/test/helpers/factories.ts
  src/test/payload.ts
  tests/e2e/auth.setup.ts
  tests/e2e/helpers/setup.ts
Due: oxlint, prettier

chore: Update CI workflows to use bunx for environment variable execution
  .github/workflows/reusable-tests.yml
  .github/workflows/scheduled-maintenance.yml
Due: none

chore: Enhance CI workflow by setting up environment keys for test execution
  .github/workflows/reusable-tests.yml
Due: none

Path conditions:
  oxlint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,css,md}
