Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  env:
    PATH: "/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin"
  commands:
    oxlint:
      glob: "*.{ts,tsx,js,jsx}"
      run: /opt/homebrew/bin/bunx oxlint {staged_files} --fix
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,css,md}"
      run: /opt/homebrew/bin/bun run format
    type-check:
      run: /opt/homebrew/bin/bun run type-check

chore: align knip and starwind config after popover removal
  bun.lock
  knip.json
  package.json
  starwind.config.json
Due: prettier

perf(case-study): O(n) related case list numbers
  src/pages/case-study/[slug].astro
Due: none

docs(css): clarify mobile header padding comment
  src/styles/styles.css
Due: prettier

fix(toc): match Astro remark defaults (GFM + Smartypants)
  bun.lock
  package.json
  src/lib/case-study-toc.ts
  src/pages/case-study/[slug].astro
Due: oxlint, prettier

refactor(toc): derive outline from render().headings
  bun.lock
  package.json
  src/lib/case-study-toc.ts
  src/pages/case-study/[slug].astro
Due: oxlint, prettier

perf(case-study): build relatedItems in getStaticPaths once
  src/pages/case-study/[slug].astro
Due: none

fix(theme): re-apply stored theme after View Transitions
  src/layouts/PortfolioLayout.astro
Due: none

fix(theme): apply class on incoming document before View Transition swap
  src/layouts/PortfolioLayout.astro
Due: none

style(case-study): use fade view transition on listing and detail main
  src/pages/case-study/[slug].astro
  src/pages/case-study/index.astro
Due: none

fix(case-study): drop shared hero transition:name to reduce thumbnail jank
  src/components/portfolio/PortfolioCaseStudy.astro
  src/components/portfolio/portfolio-types.ts
  src/pages/case-study/[slug].astro
  src/pages/case-study/index.astro
Due: oxlint, prettier

fix(styles): readable blockquote text in dark prose
  src/styles/styles.css
Due: prettier

fix(styles): win cascade for dark prose blockquote over typography
  src/styles/styles.css
Due: prettier

fix(styles): dark prose overrides for code and kbd (typography cascade)
  src/styles/styles.css
Due: prettier

feat(styles): prose-sage theme maps Typography vars to Radix tokens
  src/pages/about.astro
  src/pages/case-study/[slug].astro
  src/styles/styles.css
Due: prettier

feat(content): case study articles refresh
  src/content/case-studies/ai-page-production-initiative.md
  src/content/case-studies/design-system.md
  src/content/case-studies/owners-app-proposal.md
  src/content/case-studies/scrum-master-decision-design.md
Due: prettier

fix(content): Japanese role labels and Product Owner wording
  src/content/case-studies/ai-page-production-initiative.md
  src/content/case-studies/design-system.md
  src/content/case-studies/owners-app-proposal.md
  src/content/case-studies/scrum-master-decision-design.md
Due: prettier

feat(content): refresh About page (role intent, AI stance, reading section removed)
  src/pages/about.astro
Due: none

fix: SP back button invisible + add back button to About page
  src/components/portfolio/PortfolioListingHeader.astro
  src/components/portfolio/portfolio-types.ts
  src/pages/about.astro
  src/styles/styles.css
Due: oxlint, prettier

fix: ヘッダー高をResizeObserverで動的に反映しSPでのコンテンツ埋もれを解消
  src/components/portfolio/CaseStudyDetailHeader.astro
  src/pages/case-study/[slug].astro
  src/styles/styles.css
Due: prettier

content(case-study): OOUI実践を前面に出したケーススタディ本文の整備
  src/content/case-studies/ooui.md
Due: prettier

content(case-study): OOUIケーススタディのタイトルを短く調整
  src/content/case-studies/ooui.md
Due: prettier

content(case-study): OOUIケースのヒーロー画像と本文を更新
  src/assets/case-studies/ooui/hero.png
  src/content/case-studies/ooui.md
Due: prettier

content(case-study): OOUIケースのタイトルとヒーロー画像を調整
  src/assets/case-studies/ooui/hero.png
  src/content/case-studies/ooui.md
Due: prettier

content(case-study): OOUIケーススタディのタイトルを微調整
  src/content/case-studies/ooui.md
Due: prettier

assets(case-study): OOUIケースのヒーロー画像を軽量化
  src/assets/case-studies/ooui/hero.png
Due: none

fix(case-study): use landscape hero preset for OOUI
  src/content/case-studies/ooui.md
Due: prettier

assets(case-study): update OOUI hero image
  src/assets/case-studies/ooui/hero.png
Due: none
