Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

oxlint:
  run: /opt/homebrew/bin/bunx oxlint {staged_files} --fix

prettier:
  run: /opt/homebrew/bin/bun run format

feat(portfolio): adopt Noto Sans JP and proportional kerning (palt)
  bun.lock
  package.json
  src/layouts/PortfolioLayout.astro
  src/styles/portfolio.css
Due: prettier

docs: add portfolio persistent case study nav implementation plan
  docs/superpowers/plans/2026-04-12-portfolio-persistent-case-study-nav-plan.md
Due: prettier

feat(portfolio): persistent case study nav shell and anchors
  src/components/portfolio/PortfolioCaseStudy.astro
  src/components/portfolio/PortfolioCaseStudyNav.astro
  src/components/portfolio/portfolio-types.ts
  src/pages/portfolio/index.astro
Due: oxlint, prettier

fix(portfolio): case study grid under main column; skip nav highlight when IO batch empty
  src/components/portfolio/PortfolioCaseStudyNav.astro
  src/pages/portfolio/index.astro
Due: none

refactor(portfolio): full-width case study stack, drop stagger grid
  src/components/portfolio/PortfolioCaseStudy.astro
  src/pages/portfolio/index.astro
Due: none

style(portfolio): refine chip nav with layered preset numbers
  src/components/portfolio/PortfolioCaseStudyNav.astro
  src/components/portfolio/portfolio-types.ts
  src/pages/portfolio/index.astro
Due: oxlint, prettier

docs: add portfolio Stitch layout parity design spec (Sage+Noto)
  docs/superpowers/specs/2026-04-12-portfolio-stitch-layout-parity-design.md
Due: prettier

docs: approve Stitch layout parity spec and add implementation plan
  docs/superpowers/plans/2026-04-12-portfolio-stitch-layout-parity-plan.md
  docs/superpowers/specs/2026-04-12-portfolio-stitch-layout-parity-design.md
Due: prettier

feat(content): extend case studies for Stitch parity fields
  src/components/portfolio/portfolio-types.ts
  src/content.config.ts
  src/content/case-studies/ether-store.md
  src/content/case-studies/linear-studio.md
  src/content/case-studies/nexus-data.md
  src/content/case-studies/vera-finance.md
  src/pages/portfolio/index.astro
Due: oxlint, prettier

feat(portfolio): add fixed top navigation bar
  src/components/portfolio/PortfolioTopNav.astro
  src/components/portfolio/portfolio-types.ts
  src/layouts/PortfolioLayout.astro
  src/pages/portfolio/index.astro
  src/pages/portfolio/work/[slug].astro
Due: oxlint, prettier

feat(portfolio): dock case study chips at viewport bottom
  src/components/portfolio/PortfolioCaseStudyNav.astro
  src/pages/portfolio/index.astro
  src/styles/portfolio.css
Due: prettier

feat(portfolio): stitch-style asymmetric case rows and Selected Works header
  src/components/portfolio/PortfolioCaseStudy.astro
  src/pages/portfolio/index.astro
Due: none

feat(portfolio): align hero, about, contact with Stitch layout (Sage)
  src/components/portfolio/PortfolioAbout.astro
  src/components/portfolio/PortfolioContact.astro
  src/components/portfolio/PortfolioHero.astro
  src/pages/portfolio/index.astro
Due: none

fix(portfolio): scroll spy margins, rail sticky, mobile scroll-padding
  src/components/portfolio/PortfolioCaseStudyNav.astro
  src/pages/portfolio/index.astro
  src/styles/portfolio.css
Due: prettier

docs(spec): Starwind hover work menu and remove header chips
  docs/superpowers/specs/2026-04-12-portfolio-starwind-work-menu-design.md
Due: prettier

docs(plan): Starwind work nav popover implementation tasks
  docs/superpowers/plans/2026-04-12-portfolio-starwind-work-menu-plan.md
Due: prettier

feat(portfolio): Starwind hover work menu and scroll spy
  .vscode/starwind.code-snippets
  astro.config.mjs
  package.json
  src/components/portfolio/PortfolioAbout.astro
  src/components/portfolio/PortfolioCaseStudy.astro
  src/components/portfolio/PortfolioCaseStudyNav.astro
  src/components/portfolio/PortfolioCaseStudyScrollSpy.astro
  src/components/portfolio/PortfolioContact.astro
  src/components/portfolio/PortfolioTopNav.astro
  src/components/portfolio/PortfolioWorkNavPopover.astro
  src/components/portfolio/portfolio-types.ts
  src/components/starwind/button/Button.astro
  src/components/starwind/button/index.ts
  src/components/starwind/popover/Popover.astro
  src/components/starwind/popover/PopoverContent.astro
  src/components/starwind/popover/PopoverDescription.astro
  src/components/starwind/popover/PopoverHeader.astro
  src/components/starwind/popover/PopoverTitle.astro
  src/components/starwind/popover/PopoverTrigger.astro
  src/components/starwind/popover/index.ts
  src/layouts/PortfolioLayout.astro
  src/lib/utils/starwind/positioning.ts
  src/pages/portfolio/index.astro
  src/pages/portfolio/work/[slug].astro
  src/styles/portfolio.css
  src/styles/starwind.css
  starwind.config.json
  tsconfig.json
Due: oxlint, prettier

chore: update bun.lock for Starwind dependencies
  bun.lock
Due: none

docs(types): clarify caseNavItems for work popover
  src/components/portfolio/portfolio-types.ts
Due: oxlint, prettier

refactor(styles): merge portfolio + Starwind into styles.css
  src/layouts/PortfolioLayout.astro
  src/styles/portfolio.css
  src/styles/starwind.css
  src/styles/styles.css
  starwind.config.json
Due: prettier

ci: deploy SSR site with wrangler deploy instead of Pages
  .github/workflows/deploy-pages.yml
Due: none

fix: make /portfolio Basic auth optional when PREVIEW_SECRET unset
  README.md
  src/middleware.ts
Due: oxlint, prettier

docs: add design spec for Pages static deploy without Basic auth
  docs/superpowers/specs/2026-04-13-portfolio-pages-static-no-auth-design.md
Due: prettier

docs: add implementation plan for Pages static portfolio deploy
  docs/superpowers/plans/2026-04-13-portfolio-pages-static-no-auth-plan.md
Due: prettier

chore: remove portfolio Basic auth middleware
  env.d.ts
  src/middleware.ts
Due: oxlint, prettier

feat: static output and root redirect to /portfolio
  astro.config.mjs
  src/pages/index.astro
  src/pages/portfolio/index.astro
Due: none

chore: drop Cloudflare adapter; default deploy to Pages
  bun.lock
  package.json
Due: prettier

feat: add X-Robots-Tag headers and bot rules for /portfolio
  public/_headers
  public/robots.txt
Due: none

chore: simplify wrangler config for Pages-only deploys
  wrangler.jsonc
Due: none

ci: deploy static dist to Cloudflare Pages
  .github/workflows/deploy-cloudflare-pages.yml
Due: none

docs: align for Pages static deploy without Basic auth
  .dev.vars.example
  AGENTS.md
  CLAUDE.md
  README.md
  docs/requirements.md
  docs/superpowers/specs/2026-04-13-portfolio-pages-static-no-auth-design.md
Due: prettier

docs: troubleshoot stale .wrangler for pages dev
  README.md
Due: prettier

feat(portfolio): stitch parity, nav, and Radix Grass accents
  docs/stitch-ref/portfolio-home-updated/screen.html
  docs/stitch-ref/portfolio-home-updated/screen.png
  docs/superpowers/specs/2026-04-12-portfolio-stitch-layout-parity-design.md
  docs/superpowers/specs/2026-04-13-portfolio-pages-static-no-auth-design.md
  src/components/portfolio/PortfolioAbout.astro
  src/components/portfolio/PortfolioCaseStudy.astro
  src/components/portfolio/PortfolioCaseStudyScrollSpy.astro
  src/components/portfolio/PortfolioContact.astro
  src/components/portfolio/PortfolioFooter.astro
  src/components/portfolio/PortfolioHero.astro
  src/components/portfolio/PortfolioTopNav.astro
  src/components/portfolio/PortfolioWorkNavPopover.astro
  src/components/portfolio/portfolio-types.ts
  src/layouts/PortfolioLayout.astro
  src/pages/portfolio/index.astro
  src/pages/portfolio/work/[slug].astro
  src/styles/styles.css
Due: oxlint, prettier

docs(spec): add design-system case study portfolio design
  docs/superpowers/specs/2026-04-13-design-system-case-study-design.md
Due: prettier

docs(plan): add design-system case study implementation plan
  docs/superpowers/plans/2026-04-13-design-system-case-study-plan.md
Due: prettier

chore(content): bump case study order for new lead entry
  src/content/case-studies/ether-store.md
  src/content/case-studies/linear-studio.md
  src/content/case-studies/nexus-data.md
  src/content/case-studies/vera-finance.md
Due: prettier

feat(assets): add design-system case study hero placeholder
  src/assets/case-studies/design-system/hero.png
Due: none

feat(content): add design-system case study as lead entry
  src/content/case-studies/design-system.md
Due: prettier

feat(content): add owners-app UX proposal case study
  src/assets/case-studies/owners-app-proposal/hero.png
  src/content/case-studies/design-system.md
  src/content/case-studies/ether-store.md
  src/content/case-studies/linear-studio.md
  src/content/case-studies/nexus-data.md
  src/content/case-studies/owners-app-proposal.md
  src/content/case-studies/vera-finance.md
Due: prettier

fix(content): restore owners-app frontmatter and tighten learning copy
  src/content/case-studies/owners-app-proposal.md
Due: prettier

Path conditions:
  oxlint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,css,md}
