Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  env:
    PATH: "/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin"
  commands:
    oxlint:
      glob: "*.{ts,tsx,js,jsx}"
      run: /opt/homebrew/bin/bunx oxlint {staged_files} --fix
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,css,md}"
      run: /opt/homebrew/bin/bun run format
    type-check:
      run: /opt/homebrew/bin/bun run type-check

fix: Update migration synchronization logic to check for 'role' column
  scripts/sync-migrations.ts
Due: oxlint, prettier

feat: Enhance migration synchronization for CI/Test environments
  scripts/sync-migrations.ts
Due: oxlint, prettier

fix: Adjust test timeout and error tolerance for integration tests
  src/__tests__/integration/collections-posts.test.ts
  src/__tests__/integration/payload-client.test.ts
Due: oxlint, prettier

fix: Optimize integration tests for performance and reliability
  src/__tests__/integration/payload-client.test.ts
  src/test/helpers/factories.ts
Due: oxlint, prettier

fix: Extend database stabilization timeout and optimize connection attempts
  scripts/neon-branch.ts
  src/__tests__/integration/server-actions.test.ts
Due: oxlint, prettier

fix: Increase test and hook timeouts for improved stability
  scripts/sync-migrations.ts
  src/__tests__/integration/payload-client.test.ts
  src/test/db.ts
  src/test/helpers/factories.ts
  vitest.config.ts
Due: oxlint, prettier

fix: Increase timeouts in Playwright configuration and tests for improved stability
  .github/workflows/reusable-tests.yml
  playwright.config.ts
  tests/e2e/auth.setup.ts
  tests/e2e/helpers/auth.ts
  tests/e2e/helpers/fixtures.ts
  tests/e2e/preview-essential.spec.ts
Due: oxlint, prettier

fix: Update E2E testing configuration and enhance login helper
  .github/workflows/reusable-tests.yml
  tests/e2e/helpers/auth.ts
Due: oxlint, prettier

refactor: Simplify deployment workflows by removing Vercel actions
  .github/workflows/deploy-production.yml
  .github/workflows/pr-preview.yml
Due: none

chore: Remove staging deployment steps from CI workflow
  .github/workflows/ci.yml
Due: none

refactor: Update post page rendering strategy to use dynamic rendering
  src/app/(frontend)/posts/[slug]/page.tsx
Due: oxlint, prettier

chore: Add placeholder job to PR preview workflow
  .github/workflows/pr-preview.yml
Due: none

refactor: Rename deleteExistingBranch function for clarity
  scripts/neon-branch.ts
  src/app/(frontend)/posts/[slug]/page.tsx
Due: oxlint, prettier

chore: Update configuration and clean up unused code
  knip.json
  package.json
  src/collections/Users.ts
  src/collections/index.ts
  src/components/error-page.tsx
  src/components/loading.tsx
  src/lib/logger.ts
  src/lib/validators/posts.ts
  src/test/helpers/auth.ts
  src/test/helpers/factories.ts
Due: oxlint, prettier

chore: Update jscpd configuration and enhance CI workflow
  .github/workflows/reusable-tests.yml
  .jscpd.json
  package.json
  src/collections/Media.ts
  src/collections/Posts.ts
  src/collections/Users.ts
  src/collections/access.ts
Due: oxlint, prettier

fix: update bun.lock and size-limit config
  .size-limit.json
  bun.lock
Due: prettier

chore: Remove size-limit configuration and related dependencies
  .size-limit.json
  package.json
Due: prettier

chore: Update environment variable handling in reusable-tests.yml
  .github/workflows/reusable-tests.yml
Due: none

fix: update bun.lockfile to resolve CI lockfile freeze error
  bun.lock
Due: none

chore: Simplify static checks in reusable-tests.yml
  .github/workflows/reusable-tests.yml
Due: none

fix: Add Neon environment variables to .env.development
  projects/.env.development
Due: none

refactor: Use multi-file env loading for Neon scripts
  .github/workflows/reusable-tests.yml
  .github/workflows/scheduled-maintenance.yml
  projects/.env.development
Due: none

fix: Revert to single env file approach due to encryption key conflicts
  .github/workflows/reusable-tests.yml
  .github/workflows/scheduled-maintenance.yml
  projects/.env.development
Due: none

chore: Update environment variables across .env files
  projects/.env
  projects/.env.development
  projects/.env.production
Due: none

fix: Add --yes flag to payload migrate command to prevent interactive prompt in CI
  .github/workflows/reusable-tests.yml
Due: none

fix: Add --yes flag to test:migrate script in package.json
  package.json
Due: prettier

fix: Re-add ALLOW_NON_TEST_DATABASE_URL=true to fix CI integration tests
  .github/workflows/reusable-tests.yml
Due: none

fix: Update environment file for Neon test branch creation in CI
  .github/workflows/reusable-tests.yml
Due: none

fix: Add --yes flag to payload migrate command in CI workflow
  .github/workflows/reusable-tests.yml
Due: none

chore: Update environment variables in .env files
  projects/.env
  projects/.env.development
  projects/.env.production
Due: none

chore: Update encrypted environment variables in .env files
  projects/.env
  projects/.env.development
  projects/.env.production
Due: none

fix: Add --force-accept-warning to payload migrate command to prevent interactive prompts in CI
  .github/workflows/reusable-tests.yml
Due: none

fix: Use payload migrate:fresh instead of migrate to avoid interactive prompts in CI
  .github/workflows/reusable-tests.yml
Due: none

fix: Run integration tests directly with vitest to avoid dotenvx decryption issues
  .github/workflows/reusable-tests.yml
Due: none

fix: Update integration test command to use dotenvx for environment variable loading
  .github/workflows/reusable-tests.yml
Due: none

chore: Enhance dotenv key handling in reusable-tests.yml
  .github/workflows/reusable-tests.yml
Due: none

refactor: Remove dotenv dependency from Playwright config
  playwright.config.ts
Due: oxlint, prettier

fix: Playwright設定からdotenv直接読み込みを削除
  package.json
Due: prettier

chore: update bun.lock after removing dotenv package
  bun.lock
Due: none
