Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  env:
    PATH: "/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin"
  commands:
    oxlint:
      glob: "*.{ts,tsx,js,jsx}"
      run: /opt/homebrew/bin/bunx oxlint {staged_files} --fix
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,css,md}"
      run: /opt/homebrew/bin/bun run format
    type-check:
      run: /opt/homebrew/bin/bun run type-check

docs: Add comprehensive Clean Architecture investigation review
  docs/CLEAN_ARCHITECTURE_FINAL_REVIEW.md
Due: prettier

feat: Phase 0 - Clean Architecture preparation complete
  bun.lock
  package.json
  src/application/README.md
  src/application/dto/.gitkeep
  src/application/ports/.gitkeep
  src/application/use-cases/media/.gitkeep
  src/application/use-cases/posts/.gitkeep
  src/application/use-cases/users/.gitkeep
  src/di/.gitkeep
  src/di/README.md
  src/domain/README.md
  src/domain/entities/.gitkeep
  src/domain/exceptions/.gitkeep
  src/domain/repositories/.gitkeep
  src/domain/services/.gitkeep
  src/domain/types/.gitkeep
  src/domain/value-objects/.gitkeep
  src/infrastructure/README.md
  src/infrastructure/cache/.gitkeep
  src/infrastructure/config/.gitkeep
  src/infrastructure/persistence/payload/client/.gitkeep
  src/infrastructure/persistence/payload/collections/.gitkeep
  src/infrastructure/persistence/payload/filters/.gitkeep
  src/infrastructure/persistence/payload/mappers/.gitkeep
  src/infrastructure/persistence/payload/migrations/.gitkeep
  src/infrastructure/persistence/payload/repositories/.gitkeep
  src/infrastructure/utils/.gitkeep
  src/interface-adapters/README.md
  src/interface-adapters/controllers/.gitkeep
  src/interface-adapters/presenters/.gitkeep
  src/interface-adapters/validators/.gitkeep
  src/presentation/README.md
  src/presentation/components/features/common/.gitkeep
  src/presentation/components/features/posts/.gitkeep
  src/presentation/components/ui/.gitkeep
  src/shared/types/.gitkeep
  src/shared/utils/.gitkeep
  tsconfig.json
Due: prettier

refactor: Remove unused eslint-plugin-boundaries
  bun.lock
  package.json
Due: prettier

feat: Phase 1 - Domain layer implementation complete
  src/__tests__/unit/domain/types/result.type.test.ts
  src/__tests__/unit/domain/value-objects/slug.vo.test.ts
  src/domain/entities/media.entity.ts
  src/domain/entities/post.entity.ts
  src/domain/entities/user.entity.ts
  src/domain/exceptions/domain.exception.ts
  src/domain/exceptions/post-not-found.exception.ts
  src/domain/repositories/media.repository.ts
  src/domain/repositories/post.repository.ts
  src/domain/repositories/user.repository.ts
  src/domain/types/result.type.ts
  src/domain/value-objects/pagination.vo.ts
  src/domain/value-objects/post-status.vo.ts
  src/domain/value-objects/slug.vo.ts
  src/domain/value-objects/tag.vo.ts
Due: oxlint, prettier

feat: Phase 2 - Infrastructure layer mappers and repositories
  src/infrastructure/config/constants.ts
  src/infrastructure/persistence/payload/client/payload-client.ts
  src/infrastructure/persistence/payload/filters/payload-filters.ts
  src/infrastructure/persistence/payload/mappers/media.mapper.ts
  src/infrastructure/persistence/payload/mappers/post.mapper.ts
  src/infrastructure/persistence/payload/mappers/user.mapper.ts
  src/infrastructure/persistence/payload/repositories/payload-media.repository.ts
  src/infrastructure/persistence/payload/repositories/payload-post.repository.ts
  src/infrastructure/persistence/payload/repositories/payload-user.repository.ts
Due: oxlint, prettier

feat: add commands to manage preview branches in neon-branch script
  .github/workflows/cleanup-preview-db.yml
  scripts/neon-branch.ts
Due: oxlint, prettier

fix: resolve CI failures - remove useless constructors and code duplication
  projects/.env.development
  projects/.env.production
  src/domain/exceptions/domain.exception.ts
  src/infrastructure/config/constants.ts
  src/infrastructure/persistence/payload/client/payload-client.ts
  src/infrastructure/persistence/payload/filters/payload-filters.ts
  src/infrastructure/persistence/payload/repositories/payload-media.repository.ts
  src/infrastructure/persistence/payload/repositories/payload-post.repository.ts
  src/infrastructure/persistence/payload/repositories/payload-user.repository.ts
  src/lib/validators/slug.ts
Due: oxlint, prettier

test: Enhance Result and Slug value object tests
  src/__tests__/unit/domain/types/result.type.test.ts
  src/__tests__/unit/domain/value-objects/slug.vo.test.ts
Due: oxlint, prettier

refactor: Simplify media, post, and user mappers by converting classes to functions
  src/infrastructure/persistence/payload/mappers/media.mapper.ts
  src/infrastructure/persistence/payload/mappers/post.mapper.ts
  src/infrastructure/persistence/payload/mappers/user.mapper.ts
  src/infrastructure/persistence/payload/repositories/payload-media.repository.ts
  src/infrastructure/persistence/payload/repositories/payload-post.repository.ts
  src/infrastructure/persistence/payload/repositories/payload-user.repository.ts
Due: oxlint, prettier

feat: Phase 4 - DI Container setup with Awilix
  src/__tests__/unit/di/container.test.ts
  src/di/container.ts
  src/di/index.ts
  src/di/types.ts
Due: oxlint, prettier

feat: Repository Pattern導入 Phase 1-2
  src/domain/repositories/media-repository.ts
  src/domain/repositories/post-repository.ts
  src/domain/repositories/user-repository.ts
  src/infrastructure/repositories/create-media-repository.ts
  src/infrastructure/repositories/create-post-repository.ts
  src/infrastructure/repositories/create-user-repository.ts
  src/lib/api/create-payload-client.ts
  src/lib/api/types.ts
Due: oxlint, prettier

feat: Repository Pattern Phase 3 - Payloadインスタンス注入機能
  src/lib/api/create-payload-client.ts
  src/lib/api/payload-client.ts
Due: oxlint, prettier

feat: Repository Pattern Phase 4 - Application層リファクタリング
  src/lib/posts.ts
Due: oxlint, prettier

feat: Repository Pattern Phase 5-6 - テストモックと移行
  src/__tests__/mocks/repositories.ts
  src/__tests__/unit/posts.test.ts
Due: oxlint, prettier

fix: レビュー指摘の改善対応
  src/domain/repositories/media-repository.ts
  src/domain/repositories/user-repository.ts
  src/infrastructure/repositories/create-media-repository.ts
  src/infrastructure/repositories/create-user-repository.ts
  src/lib/posts.ts
Due: oxlint, prettier

fix: CI/CD重複コード検出エラーを解消
  src/infrastructure/repositories/create-user-repository.ts
  src/lib/api/payload-client.ts
Due: oxlint, prettier

chore: Update environment variable secrets for production and development
  projects/.env
  projects/.env.development
  projects/.env.production
Due: none

fix: remove deleted posts integration test from CI matrix
  .github/workflows/ci.yml
  .github/workflows/reusable-tests.yml
  package.json
  src/__tests__/integration/posts.test.ts
  src/__tests__/mocks/payload-client.ts
  vitest.config.integration.ts
  vitest.config.unit.ts
Due: oxlint, prettier

fix: resolve knip unused items warnings
  knip.json
  src/__tests__/mocks/repositories.ts
  src/__tests__/unit/clean-architecture-helpers.test.ts
  src/lib/api/create-payload-client.ts
  src/lib/posts.ts
Due: oxlint, prettier

fix: remove duplicate ignore key in knip.json
  knip.json
Due: prettier

test: テストカバレッジの閾値を達成するためにテストを大幅に改善
  biome.json
  src/__tests__/fixtures/posts.test.ts
  src/__tests__/unit/env.test.ts
  src/__tests__/unit/payload-client.test.ts
  src/__tests__/unit/post-card.test.tsx
  src/infrastructure/repositories/create-post-repository.test.ts
  src/lib/config/site.test.ts
  src/lib/performance/config.test.ts
Due: oxlint, prettier

refactor: improve unit tests by removing unnecessary comments and enhancing test structure
  src/__tests__/unit/access-control.test.ts
  src/__tests__/unit/performance-utils.test.ts
  src/infrastructure/repositories/create-post-repository.test.ts
  src/lib/config/site.test.ts
Due: oxlint, prettier

test: 最終的なテストカバレッジ改善完了
  src/__tests__/unit/clean-architecture-helpers.test.ts
  src/__tests__/unit/config.test.ts
  src/__tests__/unit/payload-client.test.ts
  src/__tests__/unit/posts-advanced.test.ts
  src/__tests__/unit/posts.test.ts
  src/infrastructure/repositories/create-post-repository.test.ts
Due: oxlint, prettier

initial install
  .bun-version
  .dev.vars.example
  .github/workflows/deploy-pages.yml
  .gitignore
  .nvmrc
  .vscode/extensions.json
  .vscode/launch.json
  .wrangler/deploy/config.json
  .wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite
  .wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-shm
  .wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-wal
  .wrangler/state/v3/images/miniflare-images-KVNamespaceObject/metadata.sqlite
  .wrangler/state/v3/images/miniflare-images-KVNamespaceObject/metadata.sqlite-shm
  .wrangler/state/v3/images/miniflare-images-KVNamespaceObject/metadata.sqlite-wal
  .wrangler/state/v3/kv/miniflare-KVNamespaceObject/metadata.sqlite
  .wrangler/state/v3/kv/miniflare-KVNamespaceObject/metadata.sqlite-shm
  .wrangler/state/v3/kv/miniflare-KVNamespaceObject/metadata.sqlite-wal
  README.md
  astro.config.mjs
  bun.lock
  docs/requirements.md
  env.d.ts
  package.json
  public/favicon.ico
  public/favicon.svg
  public/robots.txt
  src/layouts/PortfolioLayout.astro
  src/middleware.ts
  src/pages/index.astro
  src/pages/portfolio/index.astro
  tsconfig.json
  wrangler.jsonc
Due: oxlint, prettier

chore: ignore .wrangler and document Pages build before wrangler deploy
  .gitignore
  .wrangler/deploy/config.json
  .wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite
  .wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-shm
  .wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-wal
  .wrangler/state/v3/images/miniflare-images-KVNamespaceObject/metadata.sqlite
  .wrangler/state/v3/images/miniflare-images-KVNamespaceObject/metadata.sqlite-shm
  .wrangler/state/v3/images/miniflare-images-KVNamespaceObject/metadata.sqlite-wal
  .wrangler/state/v3/kv/miniflare-KVNamespaceObject/metadata.sqlite
  .wrangler/state/v3/kv/miniflare-KVNamespaceObject/metadata.sqlite-shm
  .wrangler/state/v3/kv/miniflare-KVNamespaceObject/metadata.sqlite-wal
  README.md
Due: prettier

chore: add deploy:cf-worker script for Cloudflare dashboard Workers deploy
  README.md
  package.json
Due: prettier

fix(ci): default Pages project name from wrangler.jsonc; restore worker name
  .github/workflows/deploy-pages.yml
  README.md
  wrangler.jsonc
Due: prettier

fix: align wrangler and Pages deploy name with Cloudflare worker kazkiueda
  README.md
  package.json
  wrangler.jsonc
Due: prettier

docs: Workers Builds deploy via bun run deploy; clarify Settings > Build
  .github/workflows/deploy-pages.yml
  README.md
  bun.lock
  package.json
Due: prettier

Add PREVIEW_SECRET Basic auth gate for /portfolio
  .dev.vars.example
  README.md
  env.d.ts
  src/middleware.ts
  src/pages/portfolio/index.astro
Due: oxlint, prettier

Add portfolio with Radix Sage semantic colors and config updates.
  .dev.vars.example
  astro.config.mjs
  bun.lock
  env.d.ts
  package.json
  src/components/portfolio/PortfolioAbout.astro
  src/components/portfolio/PortfolioCaseStudy.astro
  src/components/portfolio/PortfolioContact.astro
  src/components/portfolio/PortfolioFooter.astro
  src/components/portfolio/PortfolioHero.astro
  src/components/portfolio/PortfolioTag.astro
  src/components/portfolio/portfolio-types.ts
  src/layouts/PortfolioLayout.astro
  src/pages/portfolio/index.astro
  src/styles/portfolio.css
Due: oxlint, prettier

docs: add portfolio case study detail pages design spec
  docs/superpowers/specs/2026-04-12-portfolio-case-study-detail-design.md
Due: prettier

docs: add portfolio case study detail implementation plan
  docs/superpowers/plans/2026-04-12-portfolio-case-study-detail-plan.md
Due: prettier

feat(content): add caseStudies collection config and typography dep
  bun.lock
  package.json
  src/content.config.ts
Due: oxlint, prettier

feat(content): seed case study markdown and local hero assets
  src/assets/case-studies/ether-store/hero.png
  src/assets/case-studies/linear-studio/hero.png
  src/assets/case-studies/nexus-data/hero.png
  src/assets/case-studies/vera-finance/hero.png
  src/content/case-studies/ether-store.md
  src/content/case-studies/linear-studio.md
  src/content/case-studies/nexus-data.md
  src/content/case-studies/vera-finance.md
Due: prettier

feat(portfolio): allow case study card image transition name
  src/components/portfolio/PortfolioCaseStudy.astro
  src/components/portfolio/portfolio-types.ts
Due: oxlint, prettier

feat(portfolio): add case study detail route
  src/pages/portfolio/work/[slug].astro
Due: none

feat(portfolio): wire collection listing, ClientRouter, ja hero
  src/layouts/PortfolioLayout.astro
  src/pages/portfolio/index.astro
  src/styles/portfolio.css
Due: prettier

fix(portfolio): align PortfolioAbout props with index; sync plan for Astro 6
  docs/superpowers/plans/2026-04-12-portfolio-case-study-detail-plan.md
  src/components/portfolio/PortfolioAbout.astro
Due: prettier

docs: add portfolio persistent case study nav design spec
  docs/superpowers/specs/2026-04-12-portfolio-persistent-case-study-nav-design.md
Due: prettier
