Repository themeaningof8/kazkiueda_com: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier

oxlint:
  run: /opt/homebrew/bin/bunx oxlint {staged_files} --fix

prettier:
  run: /opt/homebrew/bin/bun run format

fix: Add proper TypeScript typing for Core Web Vitals performance metrics
  .github/workflows/ci.yml
  package.json
  src/__tests__/integration/performance.test.ts
  src/__tests__/performance/README.md
  src/__tests__/performance/index.ts
  src/__tests__/unit/bundle-size.test.ts
  src/lib/performance/config.ts
  src/lib/performance/utils.ts
  tests/e2e/performance/core-web-vitals-essential.spec.ts
  tests/e2e/performance/image-optimization.test.ts
  tests/e2e/performance/memory-leak.test.ts
Due: oxlint, prettier

fix: TypeScript errors in core-web-vitals.spec.ts
  .github/workflows/reusable-tests.yml
  tests/e2e/performance/core-web-vitals.spec.ts
Due: oxlint, prettier

fix: skip performance test in CI environment due to missing build
  src/__tests__/unit/bundle-size.test.ts
Due: oxlint, prettier

chore: update package.json and clean up performance utility functions
  package.json
  src/__tests__/unit/bundle-size.test.ts
  src/lib/performance/config.ts
  src/lib/performance/utils.ts
  tests/e2e/helpers/seed.ts
  tests/e2e/performance/core-web-vitals-essential.spec.ts
  tests/e2e/performance/core-web-vitals.spec.ts
Due: oxlint, prettier

fix: TypeScript errors in unit tests
  .github/workflows/reusable-tests.yml
  bun.lock
  package.json
  scripts/coverage-analysis.js
  scripts/test-stats.js
  src/__tests__/unit/bundle-size.test.ts
  src/__tests__/unit/button.test.tsx
  src/__tests__/unit/loading.test.tsx
  src/__tests__/unit/pagination.test.tsx
  src/__tests__/unit/payload-client.test.ts
  src/__tests__/unit/posts.test.ts
  src/__tests__/unit/theme-provider.test.tsx
  vitest.config.ts
Due: oxlint, prettier

refactor: update import paths and improve parsing logic in coverage and test stats scripts
  scripts/coverage-analysis.js
  scripts/test-stats.js
Due: oxlint, prettier

fix: TypeScript errors in unit tests - format type and data access
  src/__tests__/unit/payload-client.test.ts
  src/__tests__/unit/posts.test.ts
Due: oxlint, prettier

fix: remove --no-lint option from Next.js build in CI
  .github/workflows/reusable-tests.yml
Due: none

fix: CI environment setup for Bun
  .github/actions/setup/action.yml
  .github/workflows/reusable-tests.yml
Due: none

fix: skip bundle-size tests in CI environment
  .github/workflows/reusable-tests.yml
  src/__tests__/unit/bundle-size.test.ts
Due: oxlint, prettier

fix: ensure vitest runs via bun in CI environment
  .github/workflows/reusable-tests.yml
Due: none

fix: update vitest command to use bunx in CI environment
  .github/workflows/reusable-tests.yml
Due: none

feat: add Next.js build caching for faster CI builds
  .github/workflows/reusable-tests.yml
  next.config.ts
Due: oxlint, prettier

fix: correct YAML syntax in reusable workflow
  .github/workflows/reusable-tests.yml
Due: none

refactor: update unit test execution and improve payload-client API
  .github/workflows/reusable-tests.yml
  src/__tests__/unit/pagination.test.tsx
  src/__tests__/unit/payload-client.test.ts
  src/lib/api/payload-client.ts
Due: oxlint, prettier

refactor: streamline test command execution in CI workflow
  .github/workflows/reusable-tests.yml
Due: none

feat: enhance test coverage and error handling for edge cases
  scripts/coverage-gap-analysis.js
  src/__tests__/unit/errors.test.ts
  src/__tests__/unit/format-date.test.ts
  src/__tests__/unit/payload-client.test.ts
  src/__tests__/unit/posts-advanced.test.ts
  src/__tests__/unit/posts.test.ts
  vitest.config.ts
Due: oxlint, prettier

Add Stryker mutation testing setup and fix timezone test issues
  .gitignore
  bun.lock
  package.json
  src/__tests__/unit/format-date.test.ts
  stryker-errors.config.mjs
  stryker-format-date.config.mjs
  stryker.config.mjs
  vitest.config.errors.ts
  vitest.config.format-date.ts
Due: oxlint, prettier

Add unit tests for classifyError function in payload-client
  src/__tests__/integration/collections-posts.test.ts
  src/__tests__/unit/payload-error-classifier.test.ts
Due: oxlint, prettier

Update error messages in classifyError unit tests for consistency
  src/__tests__/unit/payload-error-classifier.test.ts
Due: oxlint, prettier

feat: add performance testing suite for Core Web Vitals and image optimization
  tests/performance/vitest/core-web-vitals-essential.spec.ts
  tests/performance/vitest/core-web-vitals.spec.ts
  tests/performance/vitest/image-optimization.test.ts
  tests/performance/vitest/memory-leak.test.ts
  vitest.config.ts
Due: oxlint, prettier

Implement Testing Trophy CI improvements
  .github/workflows/ci.yml
  .github/workflows/mutation-scheduled.yml
  .github/workflows/reusable-tests.yml
  docs/testing/README.md
  package.json
Due: prettier

Fix extended unit tests for Testing Trophy CI
  docs/testing/README.md
  package.json
  src/__tests__/unit/bundle-size.test.ts
  src/__tests__/unit/pagination.test.tsx
  src/__tests__/unit/payload-client.test.ts
Due: oxlint, prettier

Fix Bun setup in CI action
  .github/actions/setup/action.yml
Due: none

Fix Bun setup action for GitHub Actions
  .github/actions/setup/action.yml
Due: none

Refactor integration tests for posts
  src/__tests__/integration/posts.test.ts
  src/__tests__/unit/posts.test.ts
  tests/e2e/accessibility.spec.ts
  tests/e2e/error-handling.spec.ts
  tests/e2e/preview.spec.ts
Due: oxlint, prettier

Add unit tests for access control, environment validation, lexical content, and performance utilities
  src/__tests__/unit/access-control.test.ts
  src/__tests__/unit/env.test.ts
  src/__tests__/unit/lexical-helper.test.ts
  src/__tests__/unit/performance-utils.test.ts
Due: oxlint, prettier

fix: ユニットテストの環境変数設定を修正
  src/__tests__/unit/env.test.ts
  src/__tests__/unit/performance-utils.test.ts
  src/lib/performance/utils.ts
Due: oxlint, prettier

Refactor environment and performance utility tests
  src/__tests__/unit/env.test.ts
  src/__tests__/unit/performance-utils.test.ts
Due: oxlint, prettier

Enhance type safety and testing structure
  biome.json
  src/__tests__/integration/collections-posts.test.ts
  src/__tests__/integration/payload-client.test.ts
  src/__tests__/unit/access-control.test.ts
  src/__tests__/unit/bundle-size.test.ts
  src/__tests__/unit/env.test.ts
  src/__tests__/unit/errors.test.ts
  src/__tests__/unit/payload-client.test.ts
  src/__tests__/unit/performance-utils.test.ts
  src/__tests__/unit/post-card.test.tsx
  src/collections/Users.ts
  src/components/post-card.tsx
  src/lib/performance/utils.ts
  src/test/helpers/factories.ts
  tests/e2e/helpers/fixtures.ts
Due: oxlint, prettier

fix: TypeScript type errors in test fixtures and helpers
  .github/workflows/ci.yml
  src/__tests__/fixtures/README.md
  src/__tests__/fixtures/index.ts
  src/__tests__/fixtures/posts.ts
  src/__tests__/fixtures/users.ts
  src/__tests__/helpers/README.md
  src/__tests__/helpers/cleanup.ts
  src/__tests__/integration/posts.test.ts
Due: oxlint, prettier

fix: GitHub ActionsでBunのセットアップ時にversionパラメータをbun-versionに変更
  .github/actions/setup/action.yml
Due: none

fix: カバレッジ基準を満たすよう修正
  .github/workflows/ci.yml
  package.json
  src/__tests__/unit/posts.test.ts
  vitest.config.ts
Due: oxlint, prettier

fix: Update CI configuration and test type assertion
  .github/workflows/ci.yml
Due: none

fix: Update CI configuration for improved security and Codecov integration
  .github/workflows/ci.yml
Due: none

fix: Update CI workflow for Codecov integration
  .github/workflows/ci.yml
Due: none

feat: Integrate Codecov Vite plugin for enhanced coverage reporting
  bun.lock
  package.json
  vitest.config.ts
Due: oxlint, prettier

feat: Enhance CI workflow and test reporting
  .github/workflows/ci.yml
  vitest.config.ts
Due: oxlint, prettier

chore: Update knip.json configuration for improved ignore patterns
  knip.json
Due: prettier

feat: Add S3ClientUploadHandler to importMap for enhanced storage capabilities
  src/app/(payload)/admin/importMap.js
Due: oxlint, prettier

Path conditions:
  oxlint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,css,md}
